:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  background: #0f1424;
}

.dashboard-container {
  max-width: 1150px;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

path {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.dashboard {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-header,
.dashboard-main__activities-item-content {
  background: #1c1f4a;
}

.dashboard-header {
  border-radius: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  overflow: hidden;
}

.dashboard-header__user {
  background: #5847eb;
  padding: 1.7em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  color: white;
}

.dashboard-header__user-avatar {
  max-width: 8.5rem;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 3.5rem;
}

.dashboard-header__user-info {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 2em;
}

.dashboard-header__user-info__report {
  font-size: .5em;
  margin-bottom: .6em;
  color: rgba(255, 255, 255, 0.6);
}

.dashboard-header__user-info__name {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.2;
}

.dashboard-header__period {
  padding: 1.666em;
}

.dashboard-header__period-item + .dashboard-header__period-item {
  margin-top: 1.333em;
}

.dashboard-header__period-item__btn {
  font-family: "Rubik", sans-serif;
  background: none;
  color: #6f76c8;
  border: 0;
  cursor: pointer;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.dashboard-header__period-item__btn:hover {
  color: white;
}

.dashboard-header__period-item__btn.active {
  color: white;
}

.dashboard-main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / 3 / 5;
}

.dashboard-main__activities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.dashboard-main__activities-item {
  background: #ff8c66;
  border-radius: .8em;
  padding-top: 2.5em;
  background-image: url("/images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 95% -5px;
  color: white;
}

.dashboard-main__activities-item-content {
  border-radius: .8em;
  padding: 1.66em;
  min-height: 100%;
  cursor: pointer;
  -webkit-transition: background .3s linear;
  transition: background .3s linear;
  position: relative;
}

.dashboard-main__activities-item-content:hover {
  background: #33387a;
}

.dashboard-main__activities-item-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-main__activities-item-content__header-title {
  font-style: .8em;
  font-weight: 400;
  z-index: 97;
}

.dashboard-main__activities-item-content__header-link {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-main__activities-item-content__header-link svg {
  z-index: 99;
}

.dashboard-main__activities-item-content__header-link:hover path {
  fill: white;
}

.dashboard-main__activities-item-content__header-link::before {
  content: '';
  background: #1c1f4a;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  border-radius: .54em;
}

.dashboard-main__activities-item-content__header-link:hover::before {
  display: block;
  background: #1c1f4a;
}

.dashboard-main__activities-item-content__data {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.8em;
}

.dashboard-main__activities-item-content__data-current {
  color: white;
  font-size: 2.3em;
  margin-bottom: 0.4em;
  z-index: 97;
}

.dashboard-main__activities-item-content__data-previous {
  font-size: 0.8em;
  color: #6f76c8;
  color: #bdc1ff;
  z-index: 97;
}

.dashboard-main__activities-item.play {
  background-color: #56c2e6;
  background-image: url("/images/icon-play.svg");
}

.dashboard-main__activities-item.study {
  background-color: #ff5c7c;
  background-image: url("/images/icon-study.svg");
}

.dashboard-main__activities-item.exercise {
  background-color: #4acf81;
  background-image: url("/images/icon-exercise.svg");
}

.dashboard-main__activities-item.social {
  background-color: #7536d3;
  background-image: url("/images/icon-social.svg");
}

.dashboard-main__activities-item.self-care {
  background-color: #f1c65b;
  background-image: url("/images/icon-self-care.svg");
}
/*# sourceMappingURL=style.css.map */